html,body{
    background-color: white;
}

.aboutPage{
    .outside{
        width: 1520px;
        height: 610px;
        left: 0px;
        top: 108px;

        background: #b895e0;
    }
    .rect{
        width: 1520px;
        height: 590px;
        left: 0px;
        top: 91px;
        padding: 0;
        background: #e9dff5;
    }

    .nav{
        margin-left: 520px;
   }

    .sec{
        display: inline;
        margin-left: 40px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        cursor: round($number: 5);
        &:hover{
            border-color: white;
            color: rgba(73, 18, 90, 0.568);
            transform: scale(1.1);
          }
        &:active{
            color: rgb(214, 46, 219);
        }
    }

    .sec-1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        display: inline;
        margin-left: -55px;
        margin-right: 20px;
        cursor: round($number: 5);
        color: black;
        &:hover{
            border-color: white;
            color: rgba(73, 18, 90, 0.568);
            transform: scale(1.1);
          }
        &:active{
            color: rgb(214, 46, 219);
    }
    }

    .title-1{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 58px;
        text-align: center;
        margin-right: 170px;
        margin-top: 155px;

        /* identical to box height */

        text-align: center;
        color: #744ca1;
    }
    .box-2{
        padding-left: 90px;
        padding-top: 90px;

    }
    .para-1{
        width: 695px;
        height: 92px;
        right: 104px;
        top: 425px;

        font-family: Gilroy;
        font-style: normal;
        font-weight: 300;
        font-size: 27px;
        line-height: 35px;

        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .container-fluid{
       // float:left;
        margin-bottom:85rem;
        // margin-bottom: 20rem;
    }
}