.values{
    .container-1{
        margin-left: -250px;
    }
    h2{
        text-align: center;
        margin-left: -190px;
        font-weight: 700;
        font-size: 40px;
        font-family: Sacremento;
        margin-top: 20px;
        width:600px;
    }

    // i{
    //     display:inline;
    // }
}